#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  eturnal-app.service
BindsTo=eturnal.service
After=eturnal.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/eturnal-app.pid %t/eturnal-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/eturnal-app.pid  --cidfile %t/eturnal-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/eturnal.pod-id --replace -d --name  eturnal-app -v ./eturnal.yml:/etc/eturnal.yml:ro  --env-file eturnal.env  ${ETURNAL_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/eturnal-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP eturnal-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/eturnal-app.ctr-id
PIDFile=%t/eturnal-app.pid
Type=forking

[Install]
WantedBy=default.target
